.container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */
    object-fit: scale-down;
    height: 200px;
}

/* .container img {
    
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */