.background {
background-image: url(./../../Images/guitar.jpeg);
height: 100%;
position: absolute;
width: 100%;
z-index: 0;
margin: auto;
overflow: auto;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.3);
  }


  .title {
      font-weight: lighter;
  }